# dependencies
/app/node_modules
/gcloud/node_modules

# testing
/app/coverage

# production
/app/build

# editor
/.vscode

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*